.navbarWrapper {
  top: 0;
  position: sticky;
  z-index: 1500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $menu-font-size-lg;
  @media only screen and (max-width: 1199px) {
    font-size: $menu-font-size-md;
    justify-content: space-between;
  }
  @media only screen and (max-width: 719px) {
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -4px;
  & > .blockIcon {
    flex: 1 1 auto;
    margin: 0 4px;
  }
}

.icons > .cartIcon {
  margin-left: 10px;
}

.menuBlock {
  @media (max-width: 1199px) {
    display: none;
  }
}

.hamburgerMenu {
  margin-left: 42px;
  @media (min-width: 1200px) {
    display: none;
  }
}

.hideBlock {
  @media only screen and (max-width: 719px) {
    display: none;
  }
}
