.linkCard {
  background-color: $main-theme-color-white;

  @media screen and (min-width: 960px) {
    height: 240px;
  }

  @media screen and (max-width: 959px) {
    height: 140px;
  }
  @media screen and (max-width: 719px) {
    height: 130px;
  }
  

  &:hover {
    background: url("../../public/card_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 1200px) {
      height: 264px;
    }

    align-self: center;
    cursor: pointer;
    color: $main-theme-color-white;
    & .dateBlockWrapper {
      color: $main-theme-color-white;
    }
    & .linkCardBlock {
      right: 0;
      top: 0;
    }
    & .hLink {
      color: $main-theme-color-white;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
    & .hLinkNews {
      color: $main-theme-color-white;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
    & svg path {
      fill: $main-theme-color-white;
    }
  }
  &Block {
    height: 8px;
    width: 8px;
    background-color: $main-theme-color-orange;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.hLink {
  color: $main-theme-color-green;
  text-decoration: none;
}
.hLinkNews {
  color: $main-theme-color-black;
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  position: relative;
}

.dateBlockWrapper {
  display: flex;
  justify-content: space-between;
  color: $main-theme-color-solid-grey;
}
