@import "./variables";
@import "./fonts";
@import "./colors";

.container {
  
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width: 1199px) {
    max-width: 800px;
  }
  @media screen and (max-width: 959px) {
    max-width: 600px;
  }
  @media screen and (max-width: 719px) {
    max-width: 600px;
  }  

}

.containerChild {
  max-width: 1200px;
  margin: 0 auto;
}

.phones {
  text-align: right;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  :hover {
    color: $icon-hover;
  }
  > a {
    color: #ffffff;
    margin-bottom: 3px;
    text-decoration: none;
  }
}

.m0 {
  margin: 0;
}

.noneDisplay {
  display: none;
}

.display {
  display: block;
}